<div class="row">

  <div class="col s12 center">
    <h3><%= @building.name %></h3>
  </div>

  <div class="col s12 center">
    <h5>Date Built: <%= @building.date_built %></h5>
  </div>

  <div class="col s12 center">
    <h5>Address: <%= @building.address %></h5>
  </div>

  <div class="col s12 center">
    <% if @figure %>
      <h5>Associated People: <%= link_to @figure.name, figure_path(@figure) %></h5>
    <%end%>
  </div>

  <div class="col s12 center">
    <%= image_tag "building_#{@building.id}.jpg" %>
  </div>

</div>

<div class="row">
  <div class="col s12 center">
    <form action= "<%="/buildings/#{@building.id}/edit"%>" >
      <input type="submit" value="Edit This Building" />
    </form>
    <br>
  </div>

  <div class="col s12 center">
    <form action= "<%="/cities/#{@building.city_id}"%>" >
      <input type="submit" value="City Home" />
    </form>
</div>
