<div class="row">

  <div class="col s12 center">
    <h3><%= @landmark.name %></h3>
  </div>

  <div class="col s12 center">
    <h5>Important Date: <%= @landmark.event_date %></h5>
  </div>

  <div class="col s12 center">
    <h5>Address: <%= @landmark.address %></h5>
  </div>

  <div class="col s12 center">
    <% if @figure %>
      <h5>Associated People: <%= link_to @figure.name, figure_path(@figure) %></h5>
    <%end%>
  </div>

  <div class="col s12 center">
    <%= image_tag "landmark_#{@landmark.id}.jpg" %>
  </div>

</div>


<div class="row">
  <div class="col s12 center">
    <form action= "<%="/landmarks/#{@landmark.id}/edit"%>" >
      <input type="submit" value="Edit This Landmark" />
    </form><br>
    <div class="col s12 center">
      <form action= "<%="/cities/#{@landmark.city_id}"%>" >
        <input type="submit" value="City Home" />
      </form>
    </div>
  </div>
</div>
